
# Dependencies
node_modules/

# Playwright output - root
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Playwright output - packages
packages/web-automation/test-results/
packages/web-automation/playwright-report/
packages/web-automation/blob-report/
packages/api-automation/test-results/
packages/api-automation/playwright-report/
packages/api-automation/blob-report/

# Environment secrets (jangan commit nilai aslinya)
packages/common-module/config/env.sit.json
packages/common-module/config/env.uat.json
packages/common-module/config/db.sit.json
packages/common-module/config/db.uat.json

# macOS
.DS_Store
